img {
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

h1 {
    text-align: center;
}

li {
    margin-top: 8px;
    margin-bottom: 8px;
}

strong {
    color:orange
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(207, 238, 248);
}